@import '../../node_modules/vuetify/src/stylus/settings/_colors.styl'

$theme := {
  primary: $colors.red.darken-2,
  secondary: $red.accent-2,
  accent: $grey.lighten-1,
  error: $blue.lighten-1,
  info: $amber.darken-2,
  success: $red.accent-4,
  warning: $green.lighten-2,
}

@import "../../node_modules/vuetify/src/stylus/main.styl"